<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/base.css" />
    <title>${d.pageTitle}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

</head>

<body>
    <div class="pad-1 flex column">
        <div class="w-l flex">
            <a href="/" style="width: 100%;">
                <div class="fw flex start spacing-0">
                    ${d.avatarUrl ? `<img src="${d.avatarUrl}" class="avatar"
                        onerror="this.onerror=null;this.src='/static/default-avatar.jpg'" />`:""}
                    <h2 style="font-size: 1.5rem;">${d.pageTitle}</h2>
                </div>
            </a>
            ${d.githubUrl ? `<a href="${d.githubUrl}" target="_blank"><button class="icon"><img
                        src="/static/icons/github.svg" /></button></a>`:''}
        </div>


        <div class="w-l container flex column start">
            ${d.renderMarkdown(d.imprintBody)}
        </div>





        <div class="w-l flex end">
            <a href="/admin">Login</a>
        </div>
    </div>
</body>

</html>