<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/base.css" />
    <title>${d.pageTitle}</title>
</head>

<body>
    <div class="pad-1 flex column">
        <div class="w-l flex">
            <h2 style="width: 100%;">Bernd's Blog</h2>
            <a href="#"><button class="icon"><img src="/static/icons/github.svg" /></button></a>
        </div>
        <a class="w-l" href="/posts/for-fun-and-profit">
            <div class="w-l container flex space-between column-on-mobile start-on-mobile">
                <h3>Building a basic web blog for fun and profit (10etcs!)</h3>
                <p class="secondary">Posted yesterday</p>
            </div>
        </a>
        <a class="w-l" href="/posts/nasa-gehackt">
            <div class="w-l container flex space-between column-on-mobile start-on-mobile">
                <h3>How to hack the NASA in 10 easy steps!</h3>
                <p class="secondary">Posted last week</p>
            </div>
        </a>



        <div class="w-l flex end">
            <a href="/imprint">Imprint</a>
            <a href="/admin">Login</a>
        </div>
    </div>
</body>

</html>