<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/base.css" />
    <title>${d.pageTitle}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

</head>

<body>
    <div class="pad-1 flex column">
        <div class="w-l flex">
            <div class="fw flex start spacing-0">
                <img src="/static/avatar.jpg"
                    style="width: 3rem; height: 3rem; border-radius: 1.6rem; border: 1px var(--border-color) solid; margin-right:0.8rem;" />
                <h2 style="font-size: 1.5rem;">${d.pageTitle}</h2>
            </div>
            <a href="#"><button class="icon"><img src="/static/icons/github.svg" /></button></a>
        </div>

        ${ d.posts.map(post=>{
        return `
        <a class="w-l" href="/posts/${post.slug}">
            <div class="w-l container flex space-between column-on-mobile start-on-mobile">
                <h3>${post.title}</h3>
                <p class="secondary">${d.formatDate(post.published_at)}</p>
            </div>
        </a>
        `
        }).join("")}
        ${
        d.posts.length == 0 ? `
        <div class="w-l container flex space-between column-on-mobile start-on-mobile">
            <p>Nothing here yet :(</p>
        </div>
        `:""
        }




        <div class="w-l flex end">
            <a href="/imprint">Imprint</a>
            <a href="/admin">Login</a>
        </div>
    </div>
</body>

</html>