<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/base.css" />
    <title>${d.pageTitle}</title>
</head>

<body>
    <div class="pad-1 flex column">
        <div class="w-l flex">
            <a href="/" style="width: 100%;">
                <h2>Bernd's Blog</h2>
            </a>
            <a href="#"><button class="icon"><img src="/static/icons/github.svg" /></button></a>
        </div>
        <div class="w-l container flex column start">
            <div class="w-l flex space-between column-on-mobile start-on-mobile">
                <h3>Building a basic web blog for fun and profit (10etcs!)</h3>
                <p class="secondary">Posted yesterday</p>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et lorem vitae ante commodo gravida
                id quis sapien.
                Nulla eget justo dapibus nulla porttitor tincidunt. Nulla viverra mollis orci at sodales. Fusce sed
                malesuada mi.
                Vivamus elementum gravida est, nec auctor ex ultrices vel. Aliquam bibendum magna erat, nec dictum ipsum
                gravida id. Ut
                urna massa, mollis eu tincidunt ut, ullamcorper luctus enim. Nunc convallis purus nibh, eget efficitur
                enim dictum vel.
                Morbi fermentum euismod varius. Etiam eget tellus ligula. Phasellus odio ipsum, auctor convallis eros
                sed, finibus
                vestibulum tellus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et lorem vitae ante commodo gravida
                id quis sapien.
                Nulla eget justo dapibus nulla porttitor tincidunt. Nulla viverra mollis orci at sodales. Fusce sed
                malesuada mi.
                Vivamus elementum gravida est, nec auctor ex ultrices vel. Aliquam bibendum magna erat, nec dictum ipsum
                gravida id. Ut
                urna massa, mollis eu tincidunt ut, ullamcorper luctus enim. Nunc convallis purus nibh, eget efficitur
                enim dictum vel.
                Morbi fermentum euismod varius. Etiam eget tellus ligula. Phasellus odio ipsum, auctor convallis eros
                sed, finibus
                vestibulum tellus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et lorem vitae ante commodo gravida
                id quis sapien.
                Nulla eget justo dapibus nulla porttitor tincidunt. Nulla viverra mollis orci at sodales. Fusce sed
                malesuada mi.
                Vivamus elementum gravida est, nec auctor ex ultrices vel. Aliquam bibendum magna erat, nec dictum ipsum
                gravida id. Ut
                urna massa, mollis eu tincidunt ut, ullamcorper luctus enim. Nunc convallis purus nibh, eget efficitur
                enim dictum vel.
                Morbi fermentum euismod varius. Etiam eget tellus ligula. Phasellus odio ipsum, auctor convallis eros
                sed, finibus
                vestibulum tellus.</p>
        </div>

        <div class="w-l flex end">
            <a href="/imprint">Imprint</a>
            <a href="/admin">Login</a>
        </div>
    </div>
</body>

</html>