<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/base.css" />
    <title>Admin Panel</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

</head>

<body>
    <div class=" flex column spacing-2">
        <div class="w-xl pad-1 flex border-bottom ">
            <h2 style="flex-grow: 1;">Admin Panel</h2>
            <p>Logged in as <b>${d.username}</b></p>
        </div>
        <div class="w-l flex column pad-1">
            <div class="w-l flex space-between column-on-mobile">
                <div class="flex">
                    <a ${d.selectedTab !="drafts" ? 'class="inactive"' :''} href="/admin/">
                        <h3>Drafts</h3>
                    </a>
                    <a ${d.selectedTab !="published" ? 'class="inactive"' :''} href="/admin/published">
                        <h3>Published</h3>
                    </a>
                    <a ${d.selectedTab !="files" ? 'class="inactive"' :''} href="/admin/files">
                        <h3>Files</h3>
                    </a>
                    <!-- <a class="inactive" href="#settings">
                        <h3>Page settings</h3>
                    </a> -->
                </div>
                <a href="/admin/file-upload"> <button class="primary fw-on-mobile"><img
                            src="/static/icons/plus-dark.svg" /> Upload new file</button>
                </a>

            </div>
            <div class="flex w-l column">
                ${d.files.map(file=>{
                return `
                <a class="w-l" href="/admin/file-preview/${file}">
                    <div class="w-l container flex space-between column-on-mobile start-on-mobile">
                        <h3>${file}</h3>
                    </div>
                </a>
                `
                }).join("")}


                ${
                d.files.length == 0 ? `
                <div class="w-l container flex space-between column-on-mobile start-on-mobile">
                    <p>Nothing here yet :(</p>
                </div>
                `:""
                }
            </div>
            <div class="w-l flex end">
                <a href="/">Exit</a>
            </div>
        </div>

    </div>

</body>

</html>